@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-1">Zodiac</h1>
  <div class="form-group mb-4">
    <form asp-antiforgery="true" id="birthDateForm" method="post">
      <label for="birthDateInput" class="mt-4 mb-3">Type your birth date</label>
      <div class="datepicker date input-group p-0 shadow-sm">
        <input asp-for="BirthDate" type="text" placeholder="dd-mm-yyyy" class="form-control py-4 px-4" id="birthDateInput">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" form="birthDateForm">
            <i class="fa fa-check-circle fa-2x"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  @if (Model.BirthDate != null)
  {
    @if (Model.BirthDate != DateTime.MinValue)
    {
      <p>@Model.BirthDate.Value.Date.ToString("dd-MM-yyyy")</p>
      
    }
    else
    {
       <partial name="PartialViews/_DateError" model="null"/>
    }
  }

</div>